<!-- <div class="container landing">
<img src="../../assets/images/Landing.png">
</div> -->
<!-- <a routerLink="/login" class="nav-link" routerLinkActive="active">
    Sign in
</a> -->

<div class="container">
	<div class="landingPage">
		<!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->
	<header>
		<h1 class="headerText">How It Works</h1>
	</header>
	<section class="Article_section">
		<div class="row">
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">1</span></button>
				.........SignUp
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">2</span></button>
				.........SignIn
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">3</span></button>
				..........Create A New Article
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">4</span></button>
				...............Edit Article
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">5</span></button>
				.................Update Article
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">6</span></button>
				......................Delete Articles
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">7</span></button>
				......................Write comments
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">8</span></button>
				.......................Show & Hide Comments
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">9</span></button>
				.........................Search Articles
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">10</span></button>
				Global Articles
			</div>
			<div class="col-lg-6 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">11</span></button>
				User Articles
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">11</span></button>
				Cars Blog
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">12</span></button>
				Technology Related Articles
			</div>
			<div class="col-lg-4 Info">
				<img src="../../assets/images/tutor.png">
			<button type="button" class="btn btn-success">Step <span class="badge">13</span></button>
				Quiz
			</div>
		</div>
	</section>
</div>
</div>



<!-- <div *ngIf="!currentUser; then thenBlock; else elseBlock "></div>

<ng-template #thenBlock>
  <a routerLink="/register" class="nav-link" routerLinkActive="active">
          Sign up
        </a>
</ng-template>
<ng-template #elseBlock>
  Hidden Mode
</ng-template> -->