<div class="container" id = "pageMargin" style="margin-top: 100px">
	<div class="articleCreationPage">
		<form id="formNewArticle" name="formNewArticle" #articleData = "ngForm" 
			(ngSubmit) = "updateArticle(articleData.value)">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Update Article</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" name="name" id="name" [(ngModel)] = "data.name" placeholder="name" ngModel class="form-control">
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<textarea type="text" name="description" id="description" [(ngModel)] = "data.description" placeholder="description" ngModel class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label>Author:</label>
						<p>{{currentUser.firstName}}</p>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary">Update Article</button>
				</div>
			</div>
		</form>
		<p *ngIf = "!exist">Article does n't exist</p>
	</div>
</div>