<div class="container">
	<div class="homePage">
		<div class="homePage">
			<div class="row">
				<ul class="col-sm-6">
					<li class="nav-item">
						<a routerLink="/article">
							<img src="https://img.icons8.com/color/48/000000/book-and-pencil.png"> New Article
						</a>
					</li>			
				</ul>
				<ul>
					<li style="margin-left: 80px;margin-top: 10px;">
						<a routerLink="/quiz">
							<img src="https://img.icons8.com/material/24/000000/win.png"> Quiz
						</a>
					</li>
				</ul>
				<div class="col-sm-6">
					<h1 class="currentUser">Hi {{currentUser.firstName}}!</h1>
					<p class="currentArticle">Create your new article</p>
				</div>
				<p class="currentArticle">
						<a routerLink="/TechnologyRelatedArticles">
							Technology Related Articles
						</a>
					</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="homePage">
		
		<div class="row">
			<div class="col-sm-6">
				<h2><li class="nav-item">
					<a routerLink="/" class="nav-link globalArticle" routerLinkActive="active">
						Global Feed
					</a>
				</li></h2>
			</div>
			<div class="col-sm-6">
				<h2><li class="nav-item">
					<a routerLink="userArticle" class="nav-link globalArticle" routerLinkActive="active">
						Your Feed
					</a>
				</li></h2>
			</div>	
		</div>
		<hr>
		<div class="lineBreak" *ngFor = "let article of articles">
				<div class="row">
					<div class="col-sm-6" *ngIf="currentUser.firstName === article.author">
						<h3><b style="color: white;">Author :</b><span style="color: gold;"> {{article.author}}</span></h3>
					</div>
					<div class="col-sm-6" *ngIf="currentUser.firstName === article.author">
						<b class="Rating"> Rating </b> <rating [(ngModel)]="starsCount"></rating>
						<!-- <b  style="float: right;color: white">5</b> --><!-- <img src="https://img.icons8.com/flat_round/64/000000/hearts.png"  style="float: right"> -->
					</div>
				</div>
				<div *ngIf="currentUser.firstName === article.author">
					<h3><b style="color: white;">Article Name :</b> <span style="color: gold;"> {{article.name}}</span></h3>
				</div>
				<div class="row">
					<div class="col-sm-2" style="margin-top: 25px" *ngIf="currentUser.firstName === article.author">
						<ng-vote 
						(vote)="onVote($event)" 
						[totalVotes]="votes" 
						[selectedVote]="selectedVote" 
						[config]="voteConfig">
						<!-- Define Up Vote Button -->
						<ng-vote-up>
							<!-- Content will be projected -->
							<i class="my-up-icon"></i>UpVote
						</ng-vote-up>
						<!-- Add Down Vote Button -->
						<ng-vote-down>DownVote</ng-vote-down>
					</ng-vote>
					</div>
					<div class="col-sm-10" *ngIf="currentUser.firstName === article.author">
						<h3><b style="color: white;">Description : </b> <br><br> 
							<span style="color: black; line-height: 4px;font-size: 16px">{{article.description}}</span></h3>

					</div>
				</div>
				<!-- <div *ngIf="currentUser.firstName === article.author">
					<h3><b style="color: white;">Description : </b> <br><br> 
						<span style="color: black; line-height: 4px;">{{article.description}}</span></h3>
				</div> -->
				<div class="row">
					<div class="col-sm-1">
					<button *ngIf="currentUser.firstName === article.author" class="btn btn-warning" [routerLink] ="['/updateArticle', article.id]"><img src="https://img.icons8.com/android/24/000000/edit.png"> Edit</button>
				</div>
				<div class="col-sm-1">
				<button *ngIf="currentUser.firstName === article.author" (click)="deleteArticle(article.id)" class="btn btn-danger"><img src="https://img.icons8.com/material/24/000000/delete-forever--v2.png"> Delete</button></div>
				</div>
				<hr class="lineBreak" *ngIf="currentUser.firstName === article.author">
			</div>
	</div>
</div>